{% extends 'accounts/main.html' %}
{% load index %}


{% block content %}

<script>
    function preback() {
        window.history.forward();
    }
    setTimeout("preback()", 0);
    window.onunload = function(){null};


    function can_afford() {
        let wagers = document.getElementsByClassName('wager');
        let sum = 0;
        let payment_methods = document.getElementsByName('payment-method');
        let payment_method = 'credit';
        for (let i = 0; i < payment_methods.length; i++) {
            if (payment_methods[i].checked) {
                payment_method = payment_methods[i].value;
            }
        }
        
        for (let i = 0; i < wagers.length; i++) {
            sum += parseFloat(wagers[i].value);
        }
        let submit = document.getElementById('straight-submit');
        let cant_afford = document.getElementById('cannot-afford-msg');
        let balance = 0;

        if (payment_method == 'credit') {
            balance = parseFloat("{{ customer.balance }}") + parseFloat("{{ customer.credit }}");
        } else if (payment_method == 'freeplay') {
            balance = parseFloat("{{ customer.freeplay }}");
        }

        if (sum > balance) {
            submit.disabled = true;
            cant_afford.style.visibility = 'visible';
        } else {
            submit.disabled = false;
            cant_afford.style.visibility = 'hidden';

        }
    }


    function to_win(value, price, label_id) {
        let payout = 0;
        if (price > 0) {
            payout = parseInt(price * value) / 100;
        } else {
            payout = parseInt(value / price * -10000) / 100;
        }
        const container = document.getElementById(label_id);
        container.textContent = payout;
    }

    
    
</script>

    <h1>Checkout</h1>

    <div class="checkout-container">
        <form method="POST" action="{% url 'confirm_bet_straight' %}">
            {% csrf_token %}
            <table class="checkout-table">

                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Game</th>
                        <th>Outcome</th>
                        <th class="small-col">Price</th>
                        <th class="small-col">Wager</th>
                        <th class="small-col">To Win</th>
                        <th class="small-col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in data %}
                        <tr>
                            <td>{{ row.order_item.product.match.commence_time }}</td>
                            <td>{{ row.order_item.product.match.match_name }}</td>
                            <td>{{ row.order_item.product.description }}</td>
                            <td class="small-col">
                                {% if row.order_item.price > 0 %}
                                    +{{ row.order_item.price }}
                                {% else %}
                                    {{ row.order_item.price }}
                                {% endif %}
                            </td>
                            <td class="small-col"><input type="number" name="order-item-id:{{ row.order_item.id }}" class="wager" min="1" max="{{ row.order_item.max_wager}}" value="{{ row.initial_wager }}" onkeyup="to_win(this.value, '{{ row.order_item.price }}', '{{ row.order_item.id }}'); can_afford()"></td>
                            <td id="{{ row.order_item.id }}" class="small-col to-win"></td>
                            <td class="small-col"><a class="button" href="{% url 'remove_from_cart' pk=row.order_item.id bet_type='straight' %}">Remove</a></td>
                        </tr>
                        <script>
                            to_win('{{ row.initial_wager }}', '{{ row.order_item.price }}', '{{ row.order_item.id }}');
                            can_afford();
                        </script>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                <p>Payment Method:</p>
                <p><input class="payment-method" name="payment-method" value="credit" type="radio" onchange="can_afford()" checked>Credit Line</button></p>
                <p><input class="payment-method" name="payment-method" value="freeplay" type="radio" onchange="can_afford()">Freeplay</button></p>
            </div>
            <div>
                <a class="button2" href="javascript:history.back()">Keep Shopping</a>
                <input id="straight-submit" class="button2" type="submit" value="Confim Order">
                <span id="cannot-afford-msg">*You cannot afford this purchase</span>

            </div>
        </form>
        <script>
            can_afford();
            methods = document.getElementsByName("payment-method");
            for (let i = 0; i < methods.length; i++) {
                methods[i].onclick = can_afford();
            }
        </script>
    </div>

    <style>
        td {
            padding: 20px;
        }

        table {
            border-collapse: collapse; 
            width: 100%;
            background-color: #151d33;
            border-radius: 10px;

        }

        

        #checkout-totals-row {
            border-top: 3px solid red;
        }

        #checkout-container {
            align-items: center;
        }

        h1 {
            margin: 0px;
            background-color: #151d33;
            margin-bottom: 15px;
            border-radius: 10px;
            padding: 20px;
            width: calc(100% - 30);
            padding-left: 30px;
        }

        .small-col {
            padding: 0px;
            width: 20vw;
        }

        #straight-submit:disabled {
            background: #999;
            color: #555;
            cursor: not-allowed;
        }

        #cannot-afford-msg {
            color: red;
        }

    </style>

{% endblock %}