{% extends 'accounts/main.html' %}

{% block content %}

    <script>
        const prop_market_keys = {
            'NFL': {
                'player_pass_tds': 'Pass Touchdowns (Over/Under)',
                'player_pass_yds': 'Pass Yards (Over/Under)',
                'player_pass_completions': 'Pass Completions (Over/Under)',
                'player_pass_attempts':	'Pass Attempts (Over/Under)',
                'player_pass_interceptions': 'Pass Intercepts (Over/Under)',
                'player_pass_longest_completion': 'Pass Longest Completion (Over/Under)',
                'player_rush_yds': 'Rush Yards (Over/Under)',
                'player_rush_attempts': 'Rush Attempts (Over/Under)',
                'player_rush_longest': 'Longest Rush (Over/Under)',
                'player_receptions': 'Receptions (Over/Under)',
                'player_reception_yds':	'Reception Yards (Over/Under)',
                'player_reception_longest':	'Longest Reception (Over/Under)',
                'player_kicking_points': 'Kicking Points (Over/Under)',
                'player_field_goals': 'Field Goals (Over/Under)',
                'player_tackles_assists': 'Tackles + Assists (Over/Under)',
                'player_1st_td': '1st Touchdown Scorer (Yes/No)',
                'player_last_td': 'Last Touchdown Scorer (Yes/No)',
                'player_anytime_td': 'Anytime Touchdown Scorer (Yes/No)'
                },
            'NCAAF': {
                'player_pass_tds': 'Pass Touchdowns (Over/Under)',
                'player_pass_yds': 'Pass Yards (Over/Under)',
                'player_pass_completions': 'Pass Completions (Over/Under)',
                'player_pass_attempts':	'Pass Attempts (Over/Under)',
                'player_pass_interceptions': 'Pass Intercepts (Over/Under)',
                'player_pass_longest_completion': 'Pass Longest Completion (Over/Under)',
                'player_rush_yds': 'Rush Yards (Over/Under)',
                'player_rush_attempts': 'Rush Attempts (Over/Under)',
                'player_rush_longest': 'Longest Rush (Over/Under)',
                'player_receptions': 'Receptions (Over/Under)',
                'player_reception_yds':	'Reception Yards (Over/Under)',
                'player_reception_longest':	'Longest Reception (Over/Under)',
                'player_kicking_points': 'Kicking Points (Over/Under)',
                'player_field_goals': 'Field Goals (Over/Under)',
                'player_tackles_assists': 'Tackles + Assists (Over/Under)',
                'player_1st_td': '1st Touchdown Scorer (Yes/No)',
                'player_last_td': 'Last Touchdown Scorer (Yes/No)',
                'player_anytime_td': 'Anytime Touchdown Scorer (Yes/No)'
                },
            'NBA': {
                'player_points': 'Points (Over/Under)',
                'player_rebounds': 'Rebounds (Over/Under)',
                'player_assists': 'Assists (Over/Under)',
                'player_threes': 'Threes (Over/Under)',
                'player_double_double': 'Double Double (Yes/No)',
                'player_blocks': 'Blocks (Over/Under)',
                'player_steals': 'Steals (Over/Under)',
                'player_turnovers':	'Turnovers (Over/Under)',
                'player_points_rebounds_assists': 'Points + Rebounds + Assists (Over/Under)',
                'player_points_rebounds': 'Points + Rebounds (Over/Under)',
                'player_points_assists': 'Points + Assists (Over/Under)',
                'player_rebounds_assists': 'Rebounds + Assists (Over/Under)'
                },
            'NCAAB': {
                'player_points': 'Points (Over/Under)',
                'player_rebounds': 'Rebounds (Over/Under)',
                'player_assists': 'Assists (Over/Under)',
                'player_threes': 'Threes (Over/Under)',
                'player_double_double': 'Double Double (Yes/No)',
                'player_blocks': 'Blocks (Over/Under)',
                'player_steals': 'Steals (Over/Under)',
                'player_turnovers':	'Turnovers (Over/Under)',
                'player_points_rebounds_assists': 'Points + Rebounds + Assists (Over/Under)',
                'player_points_rebounds': 'Points + Rebounds (Over/Under)',
                'player_points_assists': 'Points + Assists (Over/Under)',
                'player_rebounds_assists': 'Rebounds + Assists (Over/Under)'
                },
            'WNBA': {
                'player_points': 'Points (Over/Under)',
                'player_rebounds': 'Rebounds (Over/Under)',
                'player_assists': 'Assists (Over/Under)',
                'player_threes': 'Threes (Over/Under)',
                'player_double_double': 'Double Double (Yes/No)',
                'player_blocks': 'Blocks (Over/Under)',
                'player_steals': 'Steals (Over/Under)',
                'player_turnovers':	'Turnovers (Over/Under)',
                'player_points_rebounds_assists': 'Points + Rebounds + Assists (Over/Under)',
                'player_points_rebounds': 'Points + Rebounds (Over/Under)',
                'player_points_assists': 'Points + Assists (Over/Under)',
                'player_rebounds_assists': 'Rebounds + Assists (Over/Under)'
                },
            'MLB': {
                'batter_home_runs':	'Batter home runs (Over/Under)',
                'batter_hits': 'Batter hits (Over/Under)',
                'batter_total_bases': 'Batter total bases (Over/Under)',
                'batter_rbis': 'Batter RBIs (Over/Under)',
                'batter_runs_scored': 'Batter runs scored (Over/Under)',
                'batter_hits_runs_rbis': 'Batter hits + runs + RBIs (Over/Under)',
                'batter_singles': 'Batter singles (Over/Under)',
                'batter_doubles': 'Batter doubles (Over/Under)',
                'batter_triples': 'Batter triples (Over/Under)',
                'batter_walks':	'Batter walks (Over/Under)',
                'batter_strikeouts': 'Batter strikeouts (Over/Under)',
                'batter_stolen_bases': 'Batter stolen bases (Over/Under)',
                'pitcher_strikeouts': 'Pitcher strikeouts (Over/Under)',
                'pitcher_record_a_win':	'Pitcher to record a win (Yes/No)',
                'pitcher_hits_allowed':	'Pitcher hits allowed (Over/Under)',
                'pitcher_walks': 'Pitcher walks (Over/Under)',
                'pitcher_earned_runs': 'Pitcher earned runs (Over/Under)',
                'pitcher_outs':	'Pitcher outs (Over/Under)'
                },
            'NHL': {
                'player_points': 'Points (Over/Under)',
                'player_power_play_points':	'Power play points (Over/Under)',
                'player_assists': 'Assists (Over/Under)',
                'player_blocked_shots':	'Blocked shots (Over/Under)',
                'player_shots_on_goal':	'Shots on goal (Over/Under)'
            },
            'AFL': {
                'player_disposals': 'Disposals (Over/Under)',
                'player_disposals_over': 'Disposals (Over only)',
                'player_goal_scorer_first': 'First Goal Scorer (Yes/No)',
                'player_goal_scorer_last': 'Last Goal Scorer (Yes/No)',
                'player_goal_scorer_anytime': 'Anytime Goal Scorer (Yes/No)',
                'player_goals_scored_over': 'Goals scored (Over only)'
            }
        }
        
        let links = document.getElementsByClassName('sidenav-link');
        for (let i = 0; i < links.length; i++) {
            links[i].className = 'sidenav-link';
        }
        let active_link = document.getElementById("{{ sport_group }}");
        active_link.className += " active";

        function set_bet_type() {
            checkout_form = document.getElementById('checkout-form');
        }

        function to_win(price, value) {
            let max_payout = 0;
            max_payout = parseInt(price * value) / 100;
            const container = document.getElementById('to-win-col');
            container.textContent = max_payout;
        }

        var csrf = document.querySelector('meta[name="csrf-token"]').content;
        
        
        function show_props(match_id, match_name) {
            
            if ('{{ league_title }}' in prop_market_keys) {

                document.getElementById('prop-popup').hidden = false;
                let header = document.getElementById("prop-popup-header");
                header.textContent = match_name;

                let props_container = document.getElementById('prop-options');
                props_container.innerHTML = "";

                for (key in prop_market_keys['{{ league_title }}']) {
                    let prop_btn = document.createElement('button');
                    prop_btn.setAttribute('type', 'button');
                    prop_btn.setAttribute('value', key);
                    prop_btn.onclick = function() { getPropData(match_id, this.value) };
                    prop_btn.textContent = prop_market_keys['{{ league_title }}'][key];
                    props_container.appendChild(prop_btn);
                }
            }
        }

        function getPropData(match_id, prop_key) {
            let form_data = {
                csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                match_id: match_id,
                prop_key: prop_key,
                sport_group: '{{ league_key }}',
            };
            $.ajax({
                type : 'POST',
                url: '/get_prop_data/',
                data: form_data,
                success: function(data) {
                    document.getElementById('prop-odds-header').textContent = prop_market_keys['{{ league_title }}'][prop_key];
                    let props_container = document.getElementById('prop-odds-container');
                        props_container.innerHTML = "";

                    if (data == "No Data Available") {
                        props_container.textContent = data;

                    } else {
                        let obj = JSON.parse(data);
                        console.log(obj);
                        for (player in obj) {
                            let player_row = document.createElement('div');
                            let player_name = document.createElement('div');
                            player_name.textContent = player;
                            player_row.appendChild(player_name);

                            for (i in obj[player]) {

                                let name = obj[player][i]['winner'];
                                let price = String(obj[player][i]['price']);

                                if (parseInt(price) > 0) {
                                    price = "+" + price;
                                }

                                let point = " ";

                                if (name != "Yes" && name != "No") {
                                    point += String(obj[player][i]['point']);
                                    point += " ";
                                }

                                let prop_odds_label = document.createElement('label');
                                let prop_odds_input = document.createElement('input');
                                prop_odds_label.innerHTML = "";
                                prop_odds_label.setAttribute('class', 'prop-price-label');

                                if (name == 'Over') {
                                    prop_odds_label.textContent = name + " " + point + price;

                                } else {
                                    prop_odds_label.textContent = name + point + price;
                                }

                                prop_odds_input.innerHTML = "";
                                prop_odds_input.setAttribute('value', parseInt(obj[player][i]['id']));
                                prop_odds_input.setAttribute('type', 'checkbox');
                                prop_odds_input.setAttribute('class', 'prop-price');
                                prop_odds_input.setAttribute('name', player + ":" + prop_key);
                                let in_cart = "{{ in_cart }}";
                                let ids = in_cart.replaceAll("{", "").replaceAll("}", "").replaceAll(": None", "").replaceAll(" ", "").split(",");

                                for (let j = 0; j < ids.length; j++) {
                                    if (ids[j] == parseInt(obj[player][i]['id'])) {
                                        prop_odds_input.checked = 'checked';
                                    }

                                }
                                prop_odds_label.appendChild(prop_odds_input);
                                player_row.appendChild(prop_odds_label);
                            }
                            props_container.appendChild(player_row);
                        }

                        var checkboxes = document.querySelectorAll(".prop-price");
                        checkboxes.forEach(el => el.addEventListener('change', event => {
                            event.preventDefault();

                            

                            var bet_type = '{{ bet_type }}';
                            var value = el.value;
                            console.log('val: ', el.name.split(":")[0]);
                            console.log("Sent-val: ", value, typeof value);

                            $('input[type="checkbox"]').on('change', function() {
                                $('input[name="' + this.name + '"]').not(this).prop('checked', false);
                                $('input[name="' + this.name + '"]').not(this).prop('checked', false);

                            });

                            const form_data = {
                                csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                                value: value,
                                bet_type: bet_type,
                                name: el.name.split(":")[0],
                            };
                            $.ajax({
                                type : 'POST',
                                url: '/add_to_cart/',
                                data: form_data,
                                success: function() {
                                    console.log('updated')
                                }
                            });
                        }));
                    }
                }
            });
        }

        function close_props() {
            document.getElementById('prop-popup').hidden = true;
        }

    </script>

    <h1 id="sport-group">{{ league_title }}</h1>
    <form id="checkout-form" class="table-form" action={% url 'checkout' %} method="POST">
        {% csrf_token %}
        <div class="header-buttons">
            <div class="dropdown">
                <button class="dropbtn" type="button">Leagues</button>
                <div class="dropdown-content">
                    {% for league in leagues %}  
                        <a id="{{ sport_group }}" href="{% url 'load_table' sport_group=sport_group league_key=league.key bet_type='straight' %}">{{ league.title }}</a>
                    {% endfor %}
                </div>
            </div>
            <span class="bet-type">
                {% if bet_type == 'straight' %}
                    <a id="straight-button" class="parlay-straight-toggle button" href="{% url 'load_table' sport_group=sport_group bet_type='straight' league_key=league_key %}">Straight</a>
                    <a id="parlay-button" class="parlay-straight-toggle button2" href="{% url 'load_table' sport_group=sport_group bet_type='parlay' league_key=league_key %}">Parlay</a>
                {% else %}
                    <a id="straight-button" class="parlay-straight-toggle button2" href="{% url 'load_table' sport_group=sport_group bet_type='straight' league_key=league_key %}">Straight</a>
                    <a id="parlay-button" class="parlay-straight-toggle button" href="{% url 'load_table' sport_group=sport_group bet_type='parlay' league_key=league_key %}">Parlay</a>
                {% endif %}
                    <input class="button2 checkout" type="submit" value="Checkout">
            </span>

        </div>
        <table id="match-data">
            <thead>
                <tr>
                    <th><div class="header-container">Match</div></th>
                    <th>Spread</th>
                    <th>Moneyline</th>
                    <th><div class="total-container">Total</div></th>
                </tr>
            </thead>
            <tbody>
                {% if matches.count == 0%}
                    <tr>
                        <td class="cell-container">No wagers available</td>
                    </tr>
                {% else %}
                    {% for match in matches %}
                        {% if bet_type == 'straight' %}

                            <tr>
                                <td class="header-cell">
                                    <div class="cell-container header-container">
                                        <div class="commence-time td-row">{{ match.commence_time }} EST</div>
                                        <div class="td-row">{{ match.team1 }} vs.</div>
                                        <div class="td-row">{{ match.team2 }}</div>
                                        {% if has_draw %}
                                            <div class="td-row">Draw</div>
                                        {% else %}
                                            <div class="td-row"></div>
                                        {% endif %}
                                    </div>
                                </td>
                                <td>
                                    <div class="cell-container spread-container">
                                        <div class="td-row"></div>
                                        {% for bet in match.children.all %}
                                            {% if bet.key == 'spreads' %}
                                                <div class="td-row">
                                                    <label for="wager">{{ bet.display_data }}
                                                        <input type="number" name="bet-id:{{ bet.id }}" class="wager" id="{{ bet.id }}" min="1" max="{{ bet.max_wager }}" step="0.01">
                                                    </label>
                                                </div>
                                            {% endif %}
                                        {% endfor %}     
                                        <div class="td-row"></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="cell-container h2h-container">
                                        <div class="td-row"></div>
                                        {% for bet in match.children.all %}
                                            {% if bet.key == 'h2h' %}
                                                <div class="td-row">
                                                    <label for="wager">{{ bet.display_data }}
                                                        <input type="number" name="bet-id:{{ bet.id }}" class="wager" id="{{ bet.id }}" min="1" max="{{ bet.max_wager }}" step="0.01">
                                                    </label>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        {% if not has_draw %}
                                            <div class="td-row"></div>
                                        {% endif %}
                                    </div>
                                </td>
                                <td>
                                    <div class="cell-container total-container">
                                        <div class="td-row"></div>
                                        {% for bet in match.children.all %}
                                            {% if bet.key == 'totals' %}
                                                <div class="td-row">
                                                    <label for="wager">{{ bet.display_data }}
                                                        <input type="number" name="bet-id:{{ bet.id }}" class="wager" id="{{ bet.id }}" min="1" max="{{ bet.max_wager }}" step="0.01">
                                                    </label>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        <div class="td-row"></div>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td class="header-cell">
                                    <div class="cell-container header-container">
                                        <div class="commence-time td-row">{{ match.commence_time }} EST</div>
                                        <div class="td-row">{{ match.team1 }}</div>
                                        <div class="td-row">{{ match.team2 }}</div>
                                        {% if has_draw %}
                                            <div class="td-row">Draw</div>
                                        {% endif %}
                                        {% if league_title in prop_market_keys %}
                                            <button class="props-btn" type="button" value="{{ match.match_id}}" onclick="show_props(this.value, '{{ match.match_name }}')">Props+</button>
                                        {% else %}
                                            <div class="td-row"></div>
                                        {% endif %}
                                    </div>
                                </td>
                                <td>
                                    <div class="cell-container spread-container">
                                        <div class="td-row"></div>
                                        {% for bet in match.children.all %}
                                            {% if bet.key == 'spreads' %}
                                                <div class="td-row">
                                                    <label for="wager">{{ bet.display_data }}
                                                        <input type="checkbox" name="{{ match.id }}-wager" class="wager" id="{{ bet.id }}" value="{{ bet.id }}">
                                                    </label>
                                                </div>
                                            {% endif %}
                                        {% endfor %}     
                                        <div class="td-row"></div>
                                    </div>
                                </td>
                                <td>
                                    <div class="cell-container h2h-container">
                                        <div class="td-row"></div>
                                        {% for bet in match.children.all %}
                                            {% if bet.key == 'h2h' %}
                                                <div class="td-row">
                                                    <label for="wager">{{ bet.display_data }}
                                                        <input type="checkbox" name="{{ match.id }}-wager" class="wager" id="{{ bet.id }}" value="{{ bet.id }}">
                                                    </label>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        {% if not has_draw %}
                                            <div class="td-row"></div>
                                        {% endif %}
                                    </div>
                                </td>
                                <td>
                                    <div class="cell-container total-container">
                                        <div class="td-row"></div>
                                        {% for bet in match.children.all %}
                                            {% if bet.key == 'totals' %}
                                                <div class="td-row">
                                                    <label for="wager">{{ bet.display_data }}
                                                        <input type="checkbox" name="{{ match.id }}-total" class="wager" id="{{ bet.id }}" value="{{ bet.id }}">
                                                    </label>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        <div class="td-row"></div>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
        {% for k, v in in_cart.items %}
            <script>
                if (document.getElementById('{{ k }}') !== null) {
                    
                    if ("{{ v }}" > 0) {
                        let box = document.getElementById('{{ k }}');
                        box.value = parseFloat("{{ v }}");

                    } else {
                        let box = document.getElementById('{{ k }}');
                        box.checked = 'checked';
                    }
                }
                                
            </script>
        {% endfor %}
    </form>
    <div id="prop-popup" hidden>
        <h1 id="prop-popup-header"></h1>
        <hr color="d34262">
        <div class="prop-subcontainer">
            <div id="prop-options" class="prop-data-container"></div>
            <div id="prop-odds" class="prop-data-container">
                <h3 id="prop-odds-header"></h3>
                <div id="prop-odds-container"></div>
            </div>
        </div>        
        <button id="close-prop-btn" type="button" class="button2" onclick="close_props()">Close</button>
    </div>
    <script>
        var checkboxes = document.querySelectorAll(".wager");
        checkboxes.forEach(el => el.addEventListener('change', event => {
            event.preventDefault();
            var bet_type = '{{ bet_type }}';
            var value = el.value;
            $('input[type="checkbox"]').on('change', function() {
                $('input[name="' + this.name + '"]').not(this).prop('checked', false);
                $('input[name="' + this.name + '"]').not(this).prop('checked', false);

            });

            const form_data = {
                csrfmiddlewaretoken: $('input[name="csrfmiddlewaretoken"]').val(),
                value: value,
                bet_type: bet_type,
                name: el.name,
            };
            $.ajax({
                type : 'POST',
                url: '/add_to_cart/',
                data: form_data,
                success: function() {
                    console.log('updated')
                }
            });
        }));


    </script>
    <style>
        input[type="checkbox"]:not(:checked), 
        input[type="checkbox"]:checked {
        position: absolute;
        cursor: pointer;
        margin: 0px;

        }

        input[type="number"].wager {
            margin-left: 5px;
        }

        #prop-popup {
            background-color: #273452;
            height: 85vh;
            width: 70vw;
            position: fixed;
            margin: auto;
            left: 15vw;
            top: 7.5vh;
            z-index: 100;
            padding: 20px;
            border-radius: 10px;
            overflow-y: scroll;

        }

        .props-btn {
            background-color: #d34262;
            color: #fff;
            text-decoration: none;
            border: none;
            padding: 5px 7px;
            border-radius: 3px;
            cursor: pointer;

        }
        
        .bet-type {
            width: 50%;
            height: 100%;
            justify-content: space-between;

        }

        .header-button {
            display: inline-block;
            width: 100%;
        }

        #prop-options {
            padding-top: 30px;
            margin-right: 15px;

        }

        #prop-options button {
            display: block;
            width: 100%;
        }

        .prop-data-container {
            width: 50%;

        }

        .prop-subcontainer {
            display: flex;
        }

        #prop-odds {
            display: block;

        }

        .prop-price-label {
            display: block;
            white-space: pre;
        }

        #prop-odds-header {
            text-align: center;
        }

        #prop-odds-container div {
            margin-top: 10px;
        }

        #prop-odds-container div div {
            background-color: #d34262;
            padding: 2px;
            border-radius: 2px;
            padding-left: 5px;

        }

        #prop-odds-container div label {
            padding-left: 5px;

        }

        #close-prop-btn {
            margin-top: 15px;
        }

        .td-row {
            padding-top: 10px;
        }



    </style>

{% endblock %}