<span id="navbar-row">
    <span class="navbar-data" id="balance-data">
        <span class="nav-val-label"><p>Available:</p><p>&ensp;${{ request.user.customer.credit }}</p></span>
        <span class="nav-val-label"><p>Balance:</p><p id="balance">&ensp;${{ request.user.customer.balance }}</p></span>
        <span class="nav-val-label"><p>Pending:</p><p>&ensp;${{ request.user.customer.pending }}</p></span>
        <span class="nav-val-label"><p>Freeplay:</p><p>&ensp;${{ request.user.customer.freeplay }}</p></span>
        <div id="account-buttons">
            <a class="nav-link" id="profile-button" href="{% url 'user_page' %}" id="account-link"><i class="glyphicon glyphicon-user"></i> {{ request.user }}</a>
            <a class="nav-link" id="logout" href="{% url 'logout' %}">Logout</a>
        </div>
    </span>
    
</span>

<style>

    #navbar-row {
        height: 50px;
        background-color: #151d33;
        color: #fff;
        position: fixed;
        top: 0%;
        z-index: 99;
        margin-left: 200px;
        width: calc(100% - 200px);
        border-bottom: 3px solid #273452;
        
    }

    .navbar-data {
        font-weight: bold;
        font-size: 1.1vw;
        height: 100%;
        display: flex;
        justify-content: space-between;
        margin-left: 10px;

    }

    .navbar-data span {
        display: flex;
        justify-content: space-between;
    }

    .nav-link {
        display: inline-block;
        background-color: #f44336;
        color: #FFFFFF;
        padding: 16px 30px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        opacity: 0.9;
        margin: 0px;
        margin-top: 0px;
    }

    .nav-link:hover {
        background-color: red;
    }

    .button2 {
        border: none;
        color: #fff;
        font-size: 15px;
        padding: 5px 10px;
        cursor: pointer;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        background-color: #04AA6D;

    }

    .account-buttons {
        position: absolute;

    }    

    .positive {
        color: #15f489;
    }

    .negative {
        color: red;
    }

</style>

<script>
    let balance = document.getElementById('balance');

    if ("{{ request.user.customer.balance }}" > 0) {
        balance.className = 'positive';
    } else if ("{{ request.user.customer.balance }}" < 0) {
        balance.className = 'negative';
    } else {
        balance.className = '';
    }

</script>